@font-face {
    font-family: "Rubik";
    src: url("./src/assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TechMono";
    src: url("/src/assets/fonts/share-tech-mono/ShareTechMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetbrainsMono";
    src: url("/src/assets/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}